.item {
    margin-bottom: 0.25em;
}

.item-error {
    border: 2px solid red;
}

.item-label-section > h4 {
    margin: 0 0 0 1em;
}

.item-input {
    border-radius: 5px;
    font-size: 16px;
    padding: 0.25em;
    text-align: right;
    margin-left: .5em;
    margin-right: .5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.item-input:not(.item-error) {
    border: 2px solid var(--outline-color);
}

.sheet-button {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.item-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.item-delete {
    background-image: url('../../assets/minus.svg');
}