<article class="container">
  <section class="container-child">
    <div class="flex flex-space-btwn">
      <h2>{{category}}</h2>
      <!-- <div class="flex">
        <input type="button" class="sheet-button" (click)="showForm = !showForm" value="{{!showForm ? 'Show' : 'Hide'}} Add Resource Form"/>
        <input class="add-input" *ngIf="showForm" [(ngModel)]="newResource" type="text"/>
        <input *ngIf="showForm" type="button" class="sheet-button submit-button" (click)="addProperty()" value="Submit"/>
      </div> -->
    </div>
  </section>
  <resource *ngFor="let prop of properties" (delete)="deleteProperty($event)" (update)="updateProperty($event)" [parent]="category.toLowerCase()" [property]="prop.key" [items]="prop.items" [total]="prop.total"></resource>
  <div class="flex flex-space-btwn container-child">
    <h2>Total {{category}}</h2>
    <h2>{{total | currency:'':''}}</h2>
  </div>
</article>
