<article class="container">
  <section class="flex flex-column container-child">
    <div class="flex flex-space-btwn">
      <h2 i18n>{{category}}</h2>
      <input type="button" class="sheet-button" (click)="showForm = !showForm" value="{{!showForm ? 'Show' : 'Hide'}} Add Resource Form"/>
    </div>
    <aside *ngIf="showForm" class="flex flex-end">
      <input class="add-input" *ngIf="showForm" [(ngModel)]="newResource" type="text"/>
      <input *ngIf="showForm" type="button" class="sheet-button" (click)="addProperty()" value="Submit"/>
    </aside>
  </section>
  <resource *ngFor="let prop of properties" (delete)="deleteProperty($event)" (updateTotal)="updateProperty($event)" [parent]="category.toLowerCase()" [property]="prop.key" [items]="prop.items" [total]="prop.total" [currency]="currency" [rate]="rate"></resource>
  <div class="flex flex-space-btwn container-child">
    <h2 i18n>Total {{category}}</h2>
    <h2>{{total*rate | currency:currency}}</h2>
  </div>
</article>
