<section class="resource container-child" [ngClass]="{'empty-resource' : items.length === 0}">
  <section class="flex flex-space-btwn">
    <h3>{{property}}</h3>
    <div class="flex header-section">
      <input type="button" class="sheet-button" (click)="showNewForm = !showNewForm" value="{{!showNewForm ? 'Show' : 'Hide'}} Add Item Form"/>
      <input type="button" class="sheet-button" (click)="deleteResource()" value="Delete {{property}}"/>
    </div>
  </section>
  <aside *ngIf="showNewForm" class="flex flex-end add-input-aside">
    <input class="add-input" *ngIf="showNewForm" [(ngModel)]="newItem" type="text"/>
    <input type="button" *ngIf="showNewForm" class="sheet-button" (click)="addItem()" value="Submit" [disabled]="checkValidNewItem()"/>
  </aside>
  <item *ngFor="let item of items" (itemUpdate)="updateItem($event)" (itemDelete)="deleteItem($event)" [item]="item.label" [value]="item.value"></item>
</section>