.resource {
    border-bottom: 2px solid var(--outline-color);
    padding-bottom: 1em;
}

.empty-resource {
    padding-bottom: 0;
}

.resource > section {
    margin-top: .5em;
    margin-bottom: .5em;
}

.header-section {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 60%;
}

input:first-child {
    margin-right: .5em;
}

.add-input-aside {
    margin-bottom: .5em;
}

h3 {
    margin: 0;
}